Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-CORS
SQLAlchemy
Werkzeug
python-dotenv
alembic
gunicorn
gevent
psycopg2-binary
mysqlclient  # For MySQL support in production
pymysql  # Alternative MySQL driver
cryptography  # Required for PyMySQL
Jinja2
itsdangerous
click
blinker
packaging
opencv-python
mediapipe
pytz




